{
  "name": {
    "givenName": "<?= user.first_name ?>",
    "familyName": "<?= user.last_name ?>",
  },
  "suspended": false,
<? if (typeof user.email != 'undefined') { ?>
  "emails": [
    {
      "type": "home",
      "address": "<?= user.email ?>",
      "primary": false
    }
  ],
  "recoveryEmail": "<?= user.email ?>",
<? } ?>
  "externalIds": [
    {
      "value": "<?= user.member_no ?>",
      "type": "organization",
    }
  ],
<? if (typeof user.address_1 != 'undefined' && typeof user.postcode != 'undefined' && typeof user.town != 'undefined') { ?>
  "addresses": [
    {
      "type": "home",
      "formatted": "<?= user.address_1 ?>, <?= user.postcode ?>  <?= user.town.toUpperCase() ?>",
    }
  ],
<? } ?>
<? if (typeof user.contact_mobile_phone != 'undefined') { ?>
  "phones": [
    {
      "value": "<?= user.contact_mobile_phone.phoneNumber() ?>",
      "primary": true,
      "type": "mobile",
    }
  ],
  "recoveryPhone": "<?= user.contact_mobile_phone.phoneNumber() ?>",
<? } ?>
  "customerId": "<?= conf.customerId ?>",
  "orgUnitPath": "/<?= conf.orgUnitPathBase.trim().trimChar('/') ?>/<?= user.orgUnitPath.trim().trimChar('/') ?>",
  "includeInGlobalAddressList": true,
}
